* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background-color: #fff;
  width: 400px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  margin-top: 20px;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#sign-in-button {
  background-color: #007bff;
}

#sign-in-button:hover {
  background-color: #0056b3;
}

#recaptcha-container {
  margin-top: 10px;
}

p {
  margin-top: 15px;
}

p[style="color: green;"] {
  color: #28a745;
  font-weight: bold;
}

p[style="color: red;"] {
  color: #dc3545;
  font-weight: bold;
}

.PhoneInput input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 480px) {
  .App {
    width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 20px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }

  input[type="text"], .PhoneInput input {
    padding: 10px;
    font-size: 14px;
  }
}
